<div class='row'>  
  <div class='active'>  
    <div class='input-field col s12'>
      <div class='center-align'>  
        <%= form_for @car do |f| %>
          <%= f.label :make %>
          <%= f.text_field :make %>

          <%= f.label :model %>
          <%= f.text_field :model %>

          <%= f.label :year %>
          <%= f.text_area :year %>

          <%= f.label :color %>
          <%= f.text_area :color %>

          <%= f.label :mileage %>
          <%= f.text_area :mileage %>

          <%= f.submit %>
        <% end %>
      </div>  
    </div>
  </div>
</div>  